<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name, id: :employee_name %>
  </div>

  <div class="field">
    <%= form.label :department %>
    <%= form.text_area :department, id: :employee_department %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
